
.informations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Background2);
}
.informations .informations-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: var(--Background2);
    padding: 100px 0;
}
.informations .informations-page .selections {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}


.informations .informations-page .selections button {
    background-color: var(--Background);
    color: var(--Primary);
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border:none;
    font-weight: 500;
    width: 250px;
    height: 40px;
    margin: 30px 0px 10px 0px;
    font-size: 16px;
}

.informations .informations-page h4 {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    color: var(--Primary);
}

.informations .informations-page .dev a {
    text-decoration: none;
    font-weight: 700;
    color: var(--Primary);
}



