.PaymentNotice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Background2);
    color: var(--Primary);
}
.PaymentNotice .PaymentNotice-Page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    background-color: var(--Background2);
    padding: 100px 0;
}

.PaymentNotice .PaymentNotice-Page h5 {
    margin-bottom: 30px;
}

.PaymentNotice .PaymentNotice-Page button {
    background-color: var(--Primary);
    color: var(--White);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    padding: 10px 20px;
    margin: 5px;
    font-size: 14px;
}
.PaymentNotice .PaymentNotice-Page a {
    background-color: var(--Primary);
    color: var(--White);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
}