.content-Login .preferencesForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.content-Login .preferencesForm .title {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.content-Login .preferencesForm .title img {
    width: 150px;
}

.content-Login .preferencesForm form {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content-Login .preferencesForm form .proposal {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-Login .preferencesForm form .proposal textarea{
    resize: none;
    border-radius: 6px;
    border: none;
    color: var(--Primary);
    padding: 10px;
}


.content-Login .preferencesForm form .data {
    width: 100%;
    color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.content-Login .preferencesForm form .data .search {
    margin: 5px;
    font-size: 18px;
    padding: 5px;
}

.content-Login .preferencesForm form .data .search input[type="checkbox"] {
    width: 50px;
    background-color: cadetblue;
}


.content-Login .preferencesForm form .confirmation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content-Login .preferencesForm form .confirmation button {
    width: 150px;
    padding: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: var(--White);
    color: var(--Primary);
}

.content-Login .preferencesForm form .confirmation .confirmation_preferencesForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--White);
}

.content-Login .preferencesForm form .confirmation .confirmation_preferencesForm span {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .content-Login .preferencesForm .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--White);
        margin-bottom: 20px;
    }

    .content-Login .preferencesForm .title img{
        margin-bottom: 20px;
    }

    .content-Login .preferencesForm form .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
    }

    .content-Login .preferencesForm form .confirmation button{
        margin-top: 20px;
    }

    @media (max-width: 450px) {

        .content-Login .preferencesForm form .data {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
        }

        
.content-Login .preferencesForm form .data .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    width: 90%;
}

.content-Login .preferencesForm form .data .search input[type="checkbox"] {
    width: 50px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px;
}

.content-Login .preferencesForm form .proposal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    }

}

