.Pix {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Background2);
}
.Pix .pix-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    background-color: var(--Background2);
    padding: 100px 0;
    text-align: center;
}

.Pix .pix-page h3 {
    text-align: center;
    font-weight: bold;
    color: var(--Primary);
}
.Pix .pix-page p {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0;
}

.Pix .pix-page p a {
    text-decoration: none;
    color: var(--Foursome1);
}
.Pix .pix-page a {
    margin-top: 40px;
}
.Pix .pix-page .image {
    margin: 20px;
}
.Pix .pix-page .chave {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--Background);
    padding: 10px;
    border-radius: 6px;
    margin: 20px 0;
    color: var(--Black);
}

.Pix .pix-page .chave h3 {
    color: var(--Black);
}