.content-Login {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-Login .signIn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.content-Login .signIn .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-Login .signIn .form .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    color: var(--White);
    margin-bottom: 10px;
}

.content-Login .signIn .form input:focus {
    outline: none;
  }

.content-Login .signIn .form input {
    width: 70%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: var(--Primary);
    padding:10px 5px;
    margin-bottom: 10px;
    color: #fff;

}

.content-Login .signIn .form input::placeholder {
    color: rgba(255, 255, 255, 0.44);
}

.content-Login .signIn .form .buttons {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.content-Login .signIn .form .buttons button {
    background-color: darkturquoise;
    width: 100px;
    height: 35PX;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
}

.content-Login .signIn .form .recuperation {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.content-Login .signIn .form .recuperation p {
    font-weight: bold;
    color: #fff;
}

.content-Login .signIn .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--White);
}

.content-Login .signIn .logo img{
    width: 50%;
    margin-bottom: 20px;
}

.content-Login .signIn .logo .emoj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content-Login .signIn .logo .emoj img{
        width: 12%;
        margin-top: 20px;
}