.ToolBar{
width: 250px;
height: 100%;
background-color: var(--Background);
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
}

.ToolBar .avatar {
    width: 250px;
    height: 250px;
}

.ToolBar .avatar img {
    width: 250px;
    height: 250px;
}

.ToolBar .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    margin-top: 180px;
    background-color: var(--Background2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 8px;
    padding: 10px 5px;

}

.ToolBar .info .name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.ToolBar .info .name h3 {
    color: var(--Primary);
}

.ToolBar .info .name h6 {
    color: var(--Gray_font2);
}

.ToolBar .info h4 {
    margin-bottom: -15px;
    z-index: 99;
}

.ToolBar .info h4 svg {
    color: var(--Primary);
}

.ToolBar .info .info-user-man {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 6px;
    background-color: var(--Background-man);
    margin: 5px;
}



.ToolBar .info .info-user-man .info-user-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.ToolBar .info .info-user-man .info-user-data h5 {
    color: var(--Primary);
}

.ToolBar .info .info-user-man .info-user-data p {
    color: var(--Gray_font2);
}

.ToolBar .info .info-user-woman {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 6px;
    background-color: var(--Background-woman);
    margin: 5px;
}

.ToolBar .info .info-user-woman .info-user-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.ToolBar .info .info-user-woman .info-user-data h5 {
    color: var(--Primary);
}

.ToolBar .info .info-user-woman .info-user-data p {
    color: var(--Gray_font2);
}

.ToolBar .info .info-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ToolBar .info .info-social .info-social-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.ToolBar .info .info-social .info-social-data h5 {
    color: var(--Primary);
}

.ToolBar .info .info-social .info-social-data p {
    color: var(--Gray_font2);
}

.ToolBar .tools {
width: 200px;
height: 470px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
padding-top: 70px;
}

.ToolBar .tools .toolsOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 30px;
}

.ToolBar .tools .toolsOne .toolIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.ToolBar .tools .toolsOne .toolIcon svg {
    color: var(--Primary);
}

.ToolBar .tools .toolsTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 30px;
}

.ToolBar .tools .toolsTwo .toolIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.ToolBar .tools .toolsTwo .toolIcon svg {
    color: var(--Primary);
}