.Recados{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    background-color: var(--Background2)
}
.Recados h3{
    margin-top: 80px;
    margin-bottom:10px;
    color: var(--Primary)
}

.Recados .listRecados{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    background-color: var(--Background2)
}


.Recados .listRecados .notification {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--Background);
    text-decoration: none;
}
.Recados .listRecados .notification .name {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.Recados .listRecados .notification .name a {
    text-decoration: none;
    cursor: pointer;
}