.listEventsFeed  {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: var(--Gray_font2)
}

.listEventsFeed .imageCover {
    width: 100%;
    border-radius:6px;
    object-fit: cover;
}


.listEventsFeed .imageCover img {
    width: 100%;
    border-radius:6px;
    object-fit: cover;
}

@media(max-width:900px) {
    .listEventsFeed  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
        color: var(--Gray_font2)
    }

    @media(max-width:750px) {
        .listEventsFeed  {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5px;
            color: var(--Gray_font2)
        }
    }
    
}



