.Solicitations{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    background-color: var(--Background2)
}

.Solicitations h2{
    margin-top: 80px;
    color: var(--Primary)
}

.Solicitations .itensFriend {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:90%;
    background-color: var(--Background2)
}

.Solicitations .itensFriend .friend .buttons {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--Background);
}
.Solicitations .itensFriend .friend .buttons .Acept {
    padding: 10px;
    background-color: var(--Primary);
    color: var(--Background2);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    border: none;
    margin: 0px 3px;
}
.Solicitations .itensFriend .friend .buttons .Refuse {
    padding: 10px;
    background-color: rgb(204, 0, 0);
    color: var(--Background2);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 6px;
    border: none;
    margin: 0px 3px;
}

.Solicitations .itensFriend .friend {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--Background);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
}
.Solicitations .itensFriend .friend .name {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}


@media (max-width:700px) {
    .Solicitations .itensFriend .accounts {
        width: 100%;
    }
    
}
