.feedComments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin-bottom: 10px;
}

.feedComments .feed-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: var(--Gray_font2);
    background-color: rgb(253, 253, 253);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 5px;
}

.feedComments .feed-comment .comment-user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.feedComments .feed-comment .comment-user img {
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.feedComments .feed-comment .comment-user .name-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}


.feedComments .feed-comment .comment-user .name-data .selected {
    color: var(--Primary) ;
    font-size: 14px;
}

.feedComments .feed-comment .comment-data {
    margin: 2px 0;
    width: 90%;
}

.feedComments .feed-comment .comment-data p {
    color: var(--Gray_font);
    font-weight: 500;
    margin-top: 3px;
    font-size: 16px;
}

.feedComments .feed-comment .reactions {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.feedComments .feed-comment .reactions button {
    background-color: var(--Background2);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--Gray_font2);
}

.feedComments .feed-comment .reactions button svg {
    margin-right: 5px;
}

.feedComments .feed-comment .reactions .selected{
    color: var(--Primary);   
}

.feed-comment .comment {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.feed-comment .comment input {
    width: 80%;
    height: 30px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 5px;
    color: var(--Primary);
}

.feed-comment .comment button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: var(--Primary);
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    color: var(--White);
}

.feed-comment .comment button svg {
    margin-right: 5px;
}

.feed-comment .commentHidden {
    display: none;
}


@media (max-width: 1150px) {
    
}

@media (max-width: 700px) {

    .feedComments .feed-comment {
        border-radius: 10px;
        padding: 5px 0;
        margin: 5px 0;
    }

    .feedComments .feed-comment .comment-user h4{
        font-size: 12px;
    }

    .feedComments .feed-comment .comment-user .name-data {
        width: 100%;
    }

    .feedComments .feed-comment .reactions {
        justify-content: space-evenly;
        
    }

    .feedComments .feed-comment .reactions button {
  font-size: 14px;
    }


    @media (max-width: 370px) {
        .feedComments .feed-comment .reactions {
            margin-top: 5px;
            width: 95%;            
        }
        
        .feedComments .feed-comment .reactions button {
            background-color: var(--Background2);
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: var(--Gray_font2);
            font-size: 12px;
        }
    }
}