.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--Background2)
    
}

.content .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Background2);
    
}

.content .main .aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.content .aside .feed {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    margin-top: 50px;
}

@media (max-width: 650px) {
    .content .aside .feed {
        width: 90%;
        margin-bottom: 100px;
    }
@media (max-width: 550px) {
    .content .aside .feed {
        width: 95%;
        margin-bottom: 100px;
    }
    }
}