.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.content .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Background2);
    
}

.content .main .aside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.content .aside .feed {
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--Background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}


.content .aside .feed .posts-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    padding: 20px 0;
}

.content .aside .feed .posts-feed .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px 0;
}

.content .aside .feed .posts-feed .buttons button {
    padding: 5px;
    width: 120px;
    border: none;
    border-bottom: 1px solid var(--Gray-Border);
    background-color: var(--Background2);
}

.content .aside .feed .posts-feed .buttons .selected {
    border-bottom: 2px solid var(--Primary);
    color: var(--Primary);
}

.content .aside .feed .posts-feed .feed-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: var(--Gray_font2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 0;
    margin: 5px 0;
}

.content .aside .feed .posts-feed .feed-post .post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

.content .aside .feed .posts-feed .feed-post .post-user img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.content .aside .feed .posts-feed .feed-post .post-user .name-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .aside .feed .posts-feed .feed-post .post-user .name-data .selected {
    color: var(--Primary) ;
}

.content .aside .feed .posts-feed .feed-post .post-data {
    margin: 5px 0;
    width: 90%;
}

.content .aside .feed .posts-feed .feed-post .post-data p {
    font-size: 18px;
}

.content .aside .feed .posts-feed .feed-post .reactions {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

.content .aside .feed .posts-feed .feed-post .reactions button {
    background-color: var(--Background2);
    border: none;
    font-size: 18px;
    color: var(--Gray_font2);
    
}

.content .aside .feed .posts-feed .feed-post .reactions button svg {
    margin-right: 5px;
}

.content .aside .feed .posts-feed .feed-post .reactions .selected{
    color: var(--Primary);   
}