
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--Background2);
}
.settings .settings-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    background-color: var(--Background2);
    padding: 100px 0;
}

.settings .settings-page .buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.settings .settings-page .buttons button {
    background-color: var(--Background2);
    color: var(--Primary);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid var(--Primary);
    font-weight: 500;
    width: 120px;
    height: 40px;
    margin: 5px;
}

.settings .settings-page .buttons .selected {
    background-color: var(--Primary);
    color: var(--White);

}
