.ListComments {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    width: 100%;
    color: var(--Gray_font2);
    flex-wrap: wrap;
}

.ListComments h5 {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.ListComments .text {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    cursor: pointer;
    margin: 0 10px;
}
.ListComments .text h5 {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    cursor: pointer;
}

.content-modal  {
    height: 100%;
    padding: 0px;
}


.content-modal h5 {
    text-align: center;
    margin: 0px auto;
    color: var(--Gray_font2);
}
.content-modal .itensModalFriend::-webkit-scrollbar {
    width: 12px;              
  }
  
 .content-modal .itensModalFriend::-webkit-scrollbar-track {
    background: var(--Black);
    border-radius: 20px; 
    margin-right: 3px;       
  }
  
 .content-modal .itensModalFriend::-webkit-scrollbar-thumb {
    background-color: var(--Primary);   
    border-radius: 20px;      
    border: 3px solid var(--Background2); 
  }


 .content-modal .itensModalFriend {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    height:100%;
    background-color: var(--Background)
}
.content-modal .itensModalFriend .accounts {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height:100%;
    background-color: var(--Background)
}




/* .


.content-modal h5 {
    text-align: center;
    margin: 0px auto;
    color: var(--Gray_font2);
}
.content-modal .itensModalFriend::-webkit-scrollbar {
    width: 12px;              
  }
  
 .content-modal .itensModalFriend::-webkit-scrollbar-track {
    background: var(--Background2);      
  }
  
 .content-modal .itensModalFriend::-webkit-scrollbar-thumb {
    background-color: var(--Background-man);   
    border-radius: 20px;      
    border: 3px solid var(--Background); 
  }


 .content-modal .itensModalFriend {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    width:100%;
    height: 100%;
    padding: 0px;
    background-color: var(--Background);
}
 .content-modal .itensModalFriend .accounts {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    background-color: var(--Background);
    border: 1px solid var(--Gray_font1);
} */
