



.content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--Background);
}



<<<<<<< HEAD
.content .main2{
=======
.content .main{
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Background)
}

<<<<<<< HEAD
.content .main2 .messageLoad {
=======
.content .main .messageLoad {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--Background);
    color: var(--Gray_font1);
    margin-top: 50px;
}

<<<<<<< HEAD
.content .main2 .messageLoad h4 {
    color: var(--Gray_font1);
}

.content .aside2{
=======
.content .main .messageLoad h4 {
    color: var(--Gray_font1);
}

.content .aside{
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.content .aside2 .radar2 {
=======
.content .aside .radar {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    border-right: 2px solid var(--Background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral {
=======
.content .aside .radar .filtroGeral {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    background-image: linear-gradient(to right, var(--Primary) , var(--Primary2));
    border-radius: 6px;
    margin: 10px 0;
}

<<<<<<< HEAD
.content .aside2 .radar2 h1 {
    color: var(--Background2);
}

.content .aside2 .radar2 .radar2-selected {
=======
.content .aside .radar h1 {
    color: var(--Background2);
}

.content .aside .radar .radar-selected {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-selected button {
=======
.content .aside .radar .radar-selected button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--Gray_font1);
    color: var(--Gray_font1);
    background-color: var(--Background);
    font-size: 16px;
    font-weight: 500;
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-selected .selected{
=======
.content .aside .radar .radar-selected .selected{
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    border-bottom: 3px solid var(--Primary);
    color: var(--Primary);
    background-color: var(--Background);
    font-size: 16px;
    font-weight: 500;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter {
=======
.content .aside .radar .filtroGeral .selectFilter {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
    margin-top: -10px;
    margin-bottom: 20px;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter .onOff {
=======
.content .aside .radar .filtroGeral .selectFilter .onOff {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter .onOff button {
=======
.content .aside .radar .filtroGeral .selectFilter .onOff button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 20px;
    background-color: var(--White);
    border: 1px solid var(--Primary);
    color: var(--Primary);
    cursor: pointer;
    border-radius:6px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter .onOff .selected {
=======
.content .aside .radar .filtroGeral .selectFilter .onOff .selected {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 20px;
    background-color: var(--Foursome1);
    border: 1px solid var(--Primary);
    color: var(--White);
    cursor: pointer;
    border-radius:6px;
    width: 90%;
}


<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter select {
=======
.content .aside .radar .filtroGeral .selectFilter select {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
    margin: 5px;
    border: 1px solid var(--Primary);
    color: var(--Primary);
    background-color: var(--Background2);
    border-radius: 6px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections {
=======
.content .aside .radar .mySelections {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--White);
    background-image: linear-gradient(to right, var(--Primary) , var(--Primary2));
    border-radius: 6px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .selections {
=======
.content .aside .radar .mySelections .selections {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .recolher {
    display: none;
}

.content .aside2 .radar2 .mySelections .selections select {
=======
.content .aside .radar .mySelections .recolher {
    display: none;
}

.content .aside .radar .mySelections .selections select {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
    margin: 5px;
    border: 1px solid var(--Primary);
    color: var(--Primary);
    background-color: var(--Background2);
    border-radius: 6px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .selections button {
=======
.content .aside .radar .mySelections .selections button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 10px;
    margin: 5px;
    border-radius:6px;
    background-color: var(--Foursome1);
    color: var(--White);
    border: none;
    cursor: pointer;
}

<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .text {
=======
.content .aside .radar .mySelections .text {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5px 0;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .text button {
=======
.content .aside .radar .mySelections .text button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 10px;
    margin: 5px;
    border-radius:6px;
    background-color: var(--Foursome1);
    color: var(--White);
    border: none;
    cursor: pointer;
}
<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter select {
=======
.content .aside .radar .filtroGeral .selectFilter select {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid var(--Primary);
    color: var(--Primary);
    background-color: var(--Background2);
    border-radius: 6px;
}


<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .radar2-range {
=======
.content .aside .radar .filtroGeral .radar-range {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 0;
}


<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .radar2-range input[type=range] {
=======
.content .aside .radar .filtroGeral .radar-range input[type=range] {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: var(--Primary);
    background-color: var(--Primary);

}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .radar2-range h4 {
=======
.content .aside .radar .filtroGeral .radar-range h4 {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    color: var(--White);
    font-weight: 600;
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-search button {
=======
.content .aside .radar .radar-search button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--Primary);
    padding: 10px;
    color: var(--White);
    margin: 10px;
}

<<<<<<< HEAD
.content .aside2 .radar2 .button {
=======
.content .aside .radar .button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

<<<<<<< HEAD
.content .aside2 .radar2 .button button{
=======
.content .aside .radar .button button{
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--Primary);
    color: var(--White);
    border-radius: 6px;
    border:none;
    padding: 10px 20px;
    font-weight: bold;
    margin: 5px 5px 70px 5px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .top {
=======
.content .aside .radar .top {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--Primary);
    border-radius: 50%;
    font-size: 20px;
    padding:5px;
    border: none;
    background-color: var(--White);
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 100px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all {
=======
.content .aside .radar .radar-all {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filterActive{
=======
.content .aside .radar .filterActive{
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;  
    height: 50px;  
    margin: 10px 0;
}
<<<<<<< HEAD
.content .aside2 .radar2 .filterActive button {
=======
.content .aside .radar .filterActive button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 40px;  
    height: 40px; 
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius: 6px;
    Border: none;
    background-color: var(--Foursome1);
    color: var(--White);
}

<<<<<<< HEAD
.content .aside2 .radar2 .filterActive button svg {
    font-size: 20px;
}

.content .aside2 .radar2 .radar2-all .radar2-unic {
=======
.content .aside .radar .filterActive button svg {
    font-size: 20px;
}

.content .aside .radar .radar-all .radar-unic {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin: 5px 0
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic h4 {
=======
.content .aside .radar .radar-all .radar-unic h4 {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    margin-top:-55px;
    margin-left:-5px;
    position: absolute;
}
<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic h5 svg {
=======
.content .aside .radar .radar-all .radar-unic h5 svg {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    color: rgb(110, 218, 2);
    font-size: 10px;
    border: 1px solid var(--Background2);
    border-radius: 50%;
    background-color: var(--Background2);
    margin-left: 40px;
    margin-top: -15px;
    position: absolute;
  }

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .img {
=======
.content .aside .radar .radar-all .radar-unic .img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%
}
<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .img img {
=======
.content .aside .radar .radar-all .radar-unic .img img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .cover {
    width: 260px;
}

.content .aside2 .radar2 .radar2-all .radar2-unic .profile {
    width: 80px;
}

.content .aside2 .radar2 .radar2-all .radar2-unic .members {
    width: 120px;
}

.content .aside2 .radar2 .radar2-all .radar2-unic button {
=======
.content .aside .radar .radar-all .radar-unic .cover {
    width: 260px;
}

.content .aside .radar .radar-all .radar-unic .profile {
    width: 80px;
}

.content .aside .radar .radar-all .radar-unic .members {
    width: 120px;
}

.content .aside .radar .radar-all .radar-unic button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    border: 1px solid var(--Primary);
    padding: 5px;
    border-radius: 20px;
    width: 100%;
    font-size: 14px;
    color: var(--Primary);
    font-weight: 600;
    background-color: var(--Background2);
    margin: 5px 0;
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic img {
    border-radius: 10px;
}

.content .aside2 .radar2 .radar2-all .radar2-unic a {
=======
.content .aside .radar .radar-all .radar-unic img {
    border-radius: 10px;
}

.content .aside .radar .radar-all .radar-unic a {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    text-decoration: none;
    font-size: 14px;
    color: var(--Primary);
    font-weight: 600;
}



<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic h6 {
=======
.content .aside .radar .radar-all .radar-unic h6 {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    font-weight: 500;
    color: var(--Gray_font1);
    margin: 2px 0px 0px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center;
    text-align: center;
}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic h6 svg {
=======
.content .aside .radar .radar-all .radar-unic h6 svg {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    color: var(--Gray_font1);
}


.distance {
    color: var(--Gray_font1)
}

@media(max-width: 850px) {

<<<<<<< HEAD
    .content .aside2 .radar2 {
=======
    .content .aside .radar {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
        padding: 30px 1px;

    }
    
<<<<<<< HEAD
    .content .aside2 .radar2 .radar2-all {
        width: 100%;    
}

.content .aside2 .radar2 .radar2-all .radar2-unic {
=======
    .content .aside .radar .radar-all {
        width: 100%;    
}

.content .aside .radar .radar-all .radar-unic {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80px;
    text-align: center;

}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic h5 svg {
    margin-left: 15px;
  }

.content .aside2 .radar2 .radar2-all .radar2-unic .img {
=======
.content .aside .radar .radar-all .radar-unic h5 svg {
    margin-left: 15px;
  }

.content .aside .radar .radar-all .radar-unic .img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .img img {
=======
.content .aside .radar .radar-all .radar-unic .img img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic button {
=======
.content .aside .radar .radar-all .radar-unic button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    border: 1px solid var(--Primary);
    padding: 5px;
    border-radius: 20px;
    width: 80%;
    font-size: 14px;
    color: var(--Primary);
    font-weight: 600;
    background-color: var(--Background2);
    margin: 5px 0;
}


@media(max-width: 650px) {
<<<<<<< HEAD
    .content .aside2 .radar2 .radar2-all {
        width: 100%;    
}
.content .aside2 .radar2 .filtroGeral {
=======
    .content .aside .radar .radar-all {
        width: 100%;    
}
.content .aside .radar .filtroGeral {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    background-image: linear-gradient(to right, var(--Primary) , var(--Primary2));
    border-radius: 6px;
    margin: 10px 0;
}



<<<<<<< HEAD
.content .aside2 .radar2 .mySelections {
    width: 95%;
}
.content .aside2 .radar2 .mySelections .selections {
=======
.content .aside .radar .mySelections {
    width: 95%;
}
.content .aside .radar .mySelections .selections {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
    flex-wrap: wrap;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .recolher {
    display: none;
}

.content .aside2 .radar2 .mySelections .selections select {
=======
.content .aside .radar .mySelections .recolher {
    display: none;
}

.content .aside .radar .mySelections .selections select {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0;
    margin: 5px;
    border: 1px solid var(--Primary);
    color: var(--Primary);
    background-color: var(--Background2);
    border-radius: 6px;
    font-size: 12px;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .selections button {
=======
.content .aside .radar .mySelections .selections button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 10px;
    margin: 5px;
    border-radius:6px;
    background-color: var(--Primary);
    color: var(--White);
    border: none;
    cursor: pointer;
    font-size: 12px;
}

<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .text {
=======
.content .aside .radar .mySelections .text {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    text-align: center;
}
<<<<<<< HEAD
.content .aside2 .radar2 .mySelections .text button {
=======
.content .aside .radar .mySelections .text button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 10px;
    margin: 5px;
    border-radius:6px;
    background-color: var(--Primary);
    color: var(--White);
    border: none;
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 12px;
}





<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .radar2-range {
=======
.content .aside .radar .filtroGeral .radar-range {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 0;
}
<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .radar2-range h4 {
=======
.content .aside .radar .filtroGeral .radar-range h4 {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter {
=======
.content .aside .radar .filtroGeral .selectFilter {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}

<<<<<<< HEAD
.content .aside2 .radar2 .filtroGeral .selectFilter select {
=======
.content .aside .radar .filtroGeral .selectFilter select {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 100%;
}


<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic {
=======
.content .aside .radar .radar-all .radar-unic {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 80px;
    text-align: center;

}

<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .img {
=======
.content .aside .radar .radar-all .radar-unic .img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%
}
<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic .img img {
=======
.content .aside .radar .radar-all .radar-unic .img img {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%
}


<<<<<<< HEAD
.content .aside2 .radar2 .radar2-all .radar2-unic button {
=======
.content .aside .radar .radar-all .radar-unic button {
>>>>>>> 92dc7d78bea45d0e00f9337c8b860be63edae8cd
    border: 1px solid var(--Primary);
    padding: 5px;
    border-radius: 20px;
    width: 80%;
    font-size: 14px;
    color: var(--Primary);
    font-weight: 600;
    background-color: var(--Background2);
    margin: 5px 0;
}

}
}