.RecadoUnic{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    background-color: var(--Background2);
    padding: 100px 0;
}


.RecadoUnic .listRecadoUnic{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:100%;
    padding-left:15%;
    padding-rigth:10%;
    background-color: var(--Background2)
}


.RecadoUnic .listRecadoUnic .title {
    width: 80%;
    heigth: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-left: 4px solid var(--Button);
    padding: 10px;
}
.RecadoUnic .listRecadoUnic .title h3 {
    color: var(--Primary);
}
.RecadoUnic .listRecadoUnic .title h5 {
    color: var(--Gray_font1);
}
.RecadoUnic .listRecadoUnic h5 {
    color: var(--Gray_font2);
    white-space: pre-line;
}

.RecadoUnic .listRecadoUnic .title2 {
    width: 80%;
    heigth: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-left: 4px solid var(--Foursome2);
    padding: 10px;
}
.RecadoUnic .listRecadoUnic .title2 h3 {
    color: var(--Primary);
}
.RecadoUnic .listRecadoUnic .title2 h5 {
    color: var(--Gray_font1);
}
.RecadoUnic .listRecadoUnic h5 {
    color: var(--Gray_font2);
    white-space: pre-line;
}
.RecadoUnic .listRecadoUnic .title3 {
    width: 80%;
    heigth: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    border-left: 4px solid var(--Foursome3);
    padding: 10px;
}
.RecadoUnic .listRecadoUnic .title3 h3 {
    color: var(--Primary);
}
.RecadoUnic .listRecadoUnic .title3 h5 {
    color: var(--Gray_font1);
}
.RecadoUnic .listRecadoUnic h5 {
    color: var(--Gray_font2);
    white-space: pre-line;
}
.RecadoUnic .listRecadoUnic img {
    width: 50%;
    margin: 20px 0;
}


@media (max-width: 900px) {
    .RecadoUnic .listRecadoUnic{
        width:100%;
        background-color: var(--Background2)
    }

    .RecadoUnic .listRecadoUnic img {
        width: 50%;
    }

    @media (max-width: 800px) {
        .RecadoUnic .listRecadoUnic{
            width:100%;
            padding:0 10px;
            background-color: var(--Background2)
        }

        .RecadoUnic .listRecadoUnic img {
            width: 70%;
        }
    

        @media (max-width: 500px) {
            .RecadoUnic .listRecadoUnic{
                width:100%;
                padding:0 10px;
                background-color: var(--Background2)
            }

            .RecadoUnic .listRecadoUnic img {
                width: 100%;
            }
            
        }
        
    }
    
}
