
.createEvent {
    width: 80%;
    color: var(--Primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.createEvent .text {
    width: 100%;
    background-color: var(--Primary);
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: var(--White);
    text-align: left;
}

.createEvent h2 {
    margin: 10px 0;
}

.createEvent .text h4 {
    margin: 10px 0;
}


@media (max-width: 768px) {
    .createEvent {
        width: 100%;
        color: var(--Primary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 550px) {
        .createEvent {
            width: 100%;
            color: var(--Primary);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
    
}
