.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px 0;
    width: 100%;
    text-decoration: none;
}

.item  .image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.item  .image img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.item .name h4 {
    margin-left: 5px;
    color: var(--Primary);
    text-decoration: none;
    font-weight: 500;
}
.item .name h5 {
    margin-left: 5px;
    color: var(--Black);
    text-decoration: none;
    margin-left: 10px;
}

.item a {
    text-decoration: none;
    color: var(--Primary);
}