* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Primary: #f57303;
  --Primary3: #8124F2;
  --Primary2: #8124D0;
  --Primary3: #8124C0;
  --Primary5: #8124A0;
  --Background: #202020;
  --Background-man: #ececff;
  --Background-woman: #ffecfc;
  --Background-preferences: #ffffec;
  --Background2: #000000;
  --Gray_font1: #FFEACF;
  --Gray_font2: #DFE0DF;
  --Black: #000000;
  --White: #ffffff;
  --Button: #FE8B00;
  --Gray-Border: #BFC4D3;
  --Delete:#d01616;
  --Foursome1:#FD5D5C;
  --Foursome2:#de0053;
  --Foursome3:#ffc200;

}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
    
    @media (max-width: 720px) {
      font-size: 87.5%;
    }
  }
  
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--Background);
}

.container {
  background: var(--Black);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--Black);
  width: 100%;
    height: 100%;
    display: flex;

}
.content-Login {
  background: var(--Black);
  width: 100vw;
    height: 100vh;
    display: flex;

}
.content-SignUp {
  background: var(--Black);
  width: 100vw;
    height: 100vh;
    display: flex;

}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  
  
}
body, input, textarea, button :focus{
  outline: none;
  }

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--Background2);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--Background-man);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--Background2);  /* creates padding around scroll thumb */
  }

  textarea {
    padding: 10px;
  }
  input, textarea {
    color: var(--Primary);
  }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

p {
  font-size: 12px;
}

button {
  cursor: pointer;
}



.react-modal-overlay {
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-overlay:focus{
  outline: none;
  }

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background-color: var(--White);
  padding: 20px 0;
  position: relative;
  border-radius: 8px;
  border: none;
}

.react-modal-content:focus{
  outline: none;
  }

.react-modal-button {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--White);
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  border: none;
}

@media(max-width: 900px) {
  .container {
      background-image: linear-gradient(to right, var(--Primary) , var(--Primary2));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



